.lunch-break {
    background-color: #e5e5e5;
    white-space: nowrap;
    text-align-last: center;
}

#job-table-body tr td:first-child {
    background-color: #f8f9fa;
    white-space: nowrap;
}

#job-table thead tr th {
    background-color: #e9ecef;
    text-align-last: center;
    font-size: 20px;
}

.color-slider {
    width: 200px;
    height: 20px;
    background: linear-gradient(to right, hsl(0, 100%, 80%) 0%, hsl(60, 100%, 80%) 17%, hsl(120, 100%, 80%) 33%, hsl(180, 100%, 80%) 50%, hsl(240, 100%, 80%) 67%, hsl(300, 100%, 80%) 83%, hsl(360, 100%, 80%) 100%);
}

input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: transparent;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #aaa;
}

.color-picker {
    display: flex;
    align-items: center;
}

.color-slider {
    flex: 1;
}

.preColor {
    flex: 0 0 40px;
    height: 40px;
    border-radius: 40%;
    cursor: pointer;
    margin-left: 10px;
    background-color: rgb(255, 168, 168);
    border: solid white;
}